# ── Migrations ────────────────────────────────────────────────
#RUN_MIGRATIONS=false


# ─────────────────────────────────────────────
# JANITOR — переменные окружения
# Заполните все значения перед первым запуском!
# Сгенерировать пароли: openssl rand -hex 32
# Сгенерировать JWT:    openssl rand -hex 64
# ─────────────────────────────────────────────

# PostgreSQL
POSTGRES_DB=janitor
POSTGRES_USER=janitor
POSTGRES_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
POSTGRES_HOST=janitor-postgres:5432   #// в докер на порту 5432

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}

# Redis
# REDIS_PASSWORD=REPLACE_WITH_STRONG_PASSWORD

# JWT (два разных секрета!)
JWT_SECRET=REPLACE_WITH_64_HEX_CHARS                    #
JWT_REFRESH_SECRET=REPLACE_WITH_ANOTHER_64_HEX_CHARS    # 

# SuperAdmin — создаётся автоматически при первом запуске
SUPERADMIN_LOGIN=superadmin
SUPERADMIN_PASSWORD=REPLACE_WITH_STRONG_PASSWORD

# ── MQTT ──────────────────────────────────────────────────────
MQTT_PROVIDER=local     #  local || yandex
MQTT_HOST=smilart.ru    # your_host || mqtt.cloud.yandex.net
MQTT_PORT=8883

# === for local MQTT ONLY ======================================
MQTT_LOCAL_HOST=janitor-mosquitto
MQTT_LOCAL_PORT=1883
MQTT_LOCAL_PROTOCOL=mqtt
MQTT_ADMIN_USER=mqttadmin
MQTT_ADMIN_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
MQTT_REJECT_UNAUTHORIZED=false


# === for Yandex Core Iot ONLY =================================
# ── Mosquitto файлы (для регистрации ESP) ─────────────────────

# ── YC IoT Core ───────────────────────────────────────────────
YC_SA_KEY_FILE=/opt/janitor/certs/janitor-esp-admin-key.json
YC_REGISTRY_ID=YOUR_YANDEX_ID
MQTT_CERT_FILE=/opt/janitor/certs/backend.crt
MQTT_KEY_FILE=/opt/janitor/certs/backend.key
MQTT_CA_FILE=/opt/janitor/certs/yc-rootCA.crt


# ── CORS ──────────────────────────────────────────────────────
CORS_ORIGIN=https://smilart.ru
# Домен (не менять если используете smilart.ru)
DOMAIN=smilart.ru
