# ─────────────────────────────────────────────
# JANITOR — переменные окружения
# Заполните все значения перед первым запуском!
# Сгенерировать пароли: openssl rand -hex 32
# Сгенерировать JWT:    openssl rand -hex 64
# ─────────────────────────────────────────────

# PostgreSQL
POSTGRES_DB=janitor
POSTGRES_USER=janitor
POSTGRES_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
POSTGRES_HOST=janitor-postgres:5432   #// в докер на порту 5432

# Redis
# REDIS_PASSWORD=REPLACE_WITH_STRONG_PASSWORD

# JWT (два разных секрета!)
JWT_SECRET=REPLACE_WITH_64_HEX_CHARS                    #
JWT_REFRESH_SECRET=REPLACE_WITH_ANOTHER_64_HEX_CHARS    # 

# SuperAdmin — создаётся автоматически при первом запуске
SUPERADMIN_LOGIN=superadmin
SUPERADMIN_PASSWORD=REPLACE_WITH_STRONG_PASSWORD

# MQTT broker admin (для backend)
MQTT_PROVIDER=local     #  local || yandex
MQTT_ADMIN_USER=mqttadmin
MQTT_ADMIN_PASSWORD=REPLACE_WITH_STRONG_PASSWORD

# ── for local MQTT ONLY ──────────────────────────────────────────────────────
MQTT_HOST=janitor-mosquitto
MQTT_PORT=1883
MQTT_PROTOCOL=mqtt
MQTT_REJECT_UNAUTHORIZED=false
MQTT_ESP_HOST=smilart.ru
MQTT_ESP_PORT=8883


# ── YC IoT Core ───────────────────────────────────────────────
# for yandex core iot only
YC_SA_KEY_FILE=/opt/janitor/certs/janitor-esp-admin-key.json
YC_REGISTRY_ID=YOUR_REGISTRY_ID

### сгенерировать и прописать
MQTT_CERT_FILE=/opt/janitor/certs/backend.crt
MQTT_KEY_FILE=/opt/janitor/certs/backend.key
MQTT_CA_FILE=/opt/janitor/certs/yc-rootCA.crt



# Домен (не менять если используете smilart.ru)
DOMAIN=smilart.ru
